color {
  color: #33215a;
  color:  #5d3587
  color #A367B1;
  color: #b88196;

}  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
html {
    scroll-behavior: smooth;
}
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-image: linear-gradient(120deg,#5D3587, #b88196);
    padding: 0px 5vmax 0px 5vmax;
    overflow: auto;
    display: flex;
    flex: content; 
    flex-wrap: wrap;
}

.container .Header {
    height: 80px;
    width: 100%;
    position: relative;
   
}

.display {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.container .Header .links-box {
  position: relative;  
  width: 60%;
}

.container .Header .links-box .links-box-child {
    height: 100%;
    width: 60%;
    position: relative; 
}

.links-box-child ::marker{
  content: "💕";
}


/* Page adjestment by declering size */
.container .display .social-media-links {
    display: inline;
    position: relative;
    align-items: flex-end;
    margin: 18px 18px;

}
/* social media adjestment position  */

.container .Header .links-box .links-box-child .links-item a {
  font-size: clamp(1rem, 1.3vw,3rem);
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

.container .Header .links-box .logo {
  font-size: clamp(1rem, 2vw,3rem);
  font-family: 'Lemon', serif;
  color: #fff;
}

.container .Header .social-media-links{
   position: relative;
   height: 100%;
   width: 30%;

}

.container .Header .social-media-links .social-media-links-box {
  height: 100%;
  width: 100%;
  padding: 0px 5px 5px 5px;
  display: flex; 
  flex-wrap: wrap;
}


.container .Header .social-media-links .social-media-links-box .social-links {
  list-style: none;
  position: relative;
  height: 50%;
  width: 20%;
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.container .Header .social-media-links .social-media-links-box li  {
  font-size: clamp(1rem, 1vw,3rem);
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.container .Header .links-box .links-box-child .links-item a:hover {
  color: rgb(226, 89, 21);
  cursor: pointer;
}

.container .Header .social-media-links .social-media-links-box li:hover {
  color: #6EF3A5;
  cursor: pointer;
}
/* @media screen and (max-width: 600px) {
    a{
        float: none;
        width: 100%;
        text-align: center;
    }
} */

.container .center-box {
  position: relative;
  height: 100%;
  width: 80%;
}

.container .center-box .center-box-leftchild {
  position: absolute;
  display:contents;
  height: 100%;
  width: 80vw;
  background-color: transparent;
 
}

.container .center-box .center-box-leftchild .main-txt {
  font-size: clamp(5rem, 8vw, 12rem);
  font-family: monospace;
  font-weight: 600;
  color: #6EF3A5;
  text-transform: capitalize;
  text-align: left;
  /* width: 450px; */
  /* position: relative; */
  margin: 110px 0% 0% 35px;

}

.container .center-box .center-box-leftchild .wc-txt {
  font-size: clamp(3rem, 4vw, 9rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: #2b0a30;
  text-transform: capitalize;
  text-align: left;
  /* position: relative; */
  margin: 10px 0% 0% 35px;
  /* width: 250px; */

}

.container .center-box .center-box-leftchild .prg-txt {
  height: 150px;
  font-size: clamp(1rem, 2vw, 6rem);
  /* width: 255px; */
  font-weight: 700;
  color: #1f053a;
  text-transform: capitalize;
  text-align: left;
  /* position: absolute; */
  margin: 40px 0% 0% 35px;
}

.container .center-box {
  height: calc(100vh - 80px);
  width: 100%;
  flex-wrap: wrap;
}

.container .center-box .center-box-leftchild .center-box-rightchild {
  height: 100%;
  width: 50%;
  /* background: yellow; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.container .center-box .center-box-rightchild {
  background: transparent;
}

.container .center-box .center-box-rightchild .circle-main {
  position: absolute;
  height: 80%;
  width: 40%;
  background: linear-gradient(155deg, #16171aba 60%, #323438cc);
  border-radius: 50%;
  bottom: 8%;
  left: 80%;
  transform: translateX(-50%);
  filter: blur(1px);
  z-index: 0;
}

.container .center-box .center-box-rightchild .main-img {
  position: absolute;
  height: 95%;
  /* width: 100%; */
  border-radius: 38%;
  bottom: 8.5%;
  left: 80%;
  transform: translateX(-50%);
  z-index: 2; 
}

.container .center-box .center-box-rightchild .circle-1 {
  height: 16%;
  width: 9%;
  background: #0c0c0c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  left: 62%;
  position: absolute;
  bottom: 16%;
  transform: translate(-50%, -50%);
  animation: rotation 0.5s linear infinite;
}

.container .center-box .center-box-rightchild .circle-2 {
  height: 20%;
  width: 11%;
  position: absolute;
  background: #0c0c0c;
  display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   bottom: 50%;
   transform: translate(-50%, -50%);
   right: 25%;
   z-index: 3;
}

.container .center-box .center-box-rightchild .circle-2 .circle-2-img {
  height: 20vh;
  width: 12vw;
  border-radius: 50%;
  position: absolute;
}

.container .center-box .center-box-rightchild .circle-3 {
  height: 20%;
  width: 11%;
  position: absolute;
  background: #0c0c0c;
  display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   bottom: 41%;
   transform: translate(-50%, -50%);
   right: -8%;
   z-index: 3;
}
